@using System.Threading.Tasks
@using FileServerCore.Web.Resources
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = LocString["UserAdministration"];
}

<div class="well">
    <div class="text-center">
        <h2>@LocString["UserAdministration"]</h2>
        <hr/>
    </div>
    <div class="row">

        @(Html.Kendo().Grid<RolesViewModel>().Name("grid")
              // .HtmlAttributes(new { style = "height:550px;" })
              .DataSource(
                dataSource => dataSource.Ajax().
                PageSize(20).
                Events(events => events.Error("error_handler")).
                Model(model => model.Id(p => p.Name)).
                Create(update => update.Action("RolesCreate", "Json")).Read(read => read.Action("RolesRead", "Json")).Destroy(update => update.Action("RolesDestroy", "Json"))))
    </div>
</div>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors,
                function(key, value) {
                    if ('errors' in value) {
                        $.each(value.errors,
                            function() {
                                message += this + "\n";
                            });
                    }
                });
            alert(message);
        }
    }
</script>
