@using Microsoft.AspNetCore.Identity
@using Avg.Data.Models

@inject SignInManager<AvgUser> SignInManager
@inject UserManager<AvgUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Account" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a asp-area="Account" asp-controller="Login" asp-action="Exit">Log off</a>                
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Account" asp-controller="Register" asp-action="Index">Register</a></li>
        <li><a asp-area="Account" asp-controller="Login" asp-action="Index">Log in</a></li>
    </ul>
}
